<div class="t-under-heder">
    <section class="content">
        <div class="imegs">
            <img class="logo" src="/img/logo (2).png" alt="">
            <img src="/img/EVARUGS.png" alt="">
        </div>
        <nav>
            <a href="#otz">отзывы</a>
            <a href="#what">что это?</a>
            <a href="#contact">контакты</a>
        </nav>
    </section>
</div>
