<header class="t-header">
    <div class='content'>
        <div class="one">
            <img src="/img/1.png" alt="logo-contact">
            <p>+375 29 292-29-29 (VEL)</p>
            <p>+375 33 333-33-33 (МТС)</p>
        </div>
        <div class="two">
            <img src="/img/2.png" alt="logo-location">
            <p>ваш город</p>
        </div>
        <div class="three">
            <img src="/img/3.png" alt="logo-applications">
            <p>посетите нашу страницу</p>
        </div>
    </div>
</header>

