<div class="t-the-call-block content">
    <div class="right">
        <h1>Инновационные коврики для автомобиля</h1>
        <p class="paragraf">в вашем городе</p>
        <button>ЗАКАЗАТЬ</button>
    </div>
    <img class='imges' src="/img/коврф 1.png" alt="">
    <img class='back' src='/img/подложка 1 (1).png' alt=''>
    <img class="backg" src="/img/Vector (3).png" alt="">
    <img class="backgr" src="/img/Vector (3).png" alt="">
    <img class="backgra" src="/img/Vector (3).png" alt="">
    <img class="backgrau" src="/img/Vector (3).png" alt="">
    <img class="backgraund" src="/img/Vector (3).png" alt="">
    </section>

</div>