@font-face {
    font-family: "Robot";
    font-weight:400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Robot"), url("/fond/Roboto-Medium.ttf") format("ttf");
}