<footer class="t-footer ">
    <div id="contact" class="content">
        <div class="one">
            <p><strong>МЫ В СОЦИАЛЬНЫХ СЕТЯХ</strong></p>
            <img src="/img/512px-Instagram_new 1.png" alt="Instagram">
        </div>
        <div class="two">
            <p><strong>КОНТАКТНЫЕ ТЕЛЕФОНЫ</strong></p>
            <p class="under">+375 29 292-29-29 (VEL) +375 33 333-33-33 (МТС)</p>
        </div>
        <div class="free">
            <p><strong>О НАС</strong></p>
            <p class="under">Индивидуальное изготовление EVA ковриков для вашего автомобиля</p>
            <p>ваш город</p>
        </div>
        <img class="back" src="/img/Vector (6).png" alt="">
        <img class="backg" src="/img/Vector (6).png" alt="">
    </div>
</footer>
